.sideBar {
    padding: 20px;
    margin-top: 70px;
    width: 260px;
    height: calc(100vh - 70px);
    position: fixed;
    background-color: var(--main-nav-color);
    font-size: 20px;
    font-family: Montserrat-Bold;
    overflow-y: scroll;
    transition: background-color 1s,box-shadow 1s;
    /*box-shadow: 0 1px 3px -2px grey;*/
    box-shadow: 0px 0px 2px 0px var(--main-text-color);
}

.sideBar div {
    font-size: 20px;
}

.sideBar button {
    text-align:left;
    margin-top:3px;
    font-size: 20px;
    height:40px;
    border-radius:10px;
    cursor:pointer;
    width:100%;
    background:none;
    color:var(--main-text-color);
    border:none;
    
    transition:  color 1s;
}
.sideBar button:hover {
    background-color:var(--main-panel-color);
}