.banner {
    position:absolute;
    top:70px;
    width: 100%;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
}

.realName {
    position: absolute;
    left: 350px;
    top: 410px;
    font-size: 45px;
    font-family: Montserrat-Bold;
}

.realName div{
    float:left;
}

.description {
    margin-top:20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: Montserrat-Medium;
    white-space: pre-line;
}

.profilePicture {
    position: absolute;
    top: 300px;
    width: 200px;
    height: 200px;
    left: 100px;
    border-radius: 20px;
    border: solid var(--main-bg-color) 5px;
    background-color: var(--main-bg-color);
    transition:border 1s;
}

.username {
    position: absolute;
    left: 350px;
    top: 460px;
    font-size: 35px;
    font-family: Montserrat-Medium;
}
.verifiedIcon{
    float:left;
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
}
.button {
    position: absolute;
    right: 150px;
    top: 430px;
    width: 100px;
    height: 33px;
    color: white;
    border: white;
    border-radius: 5px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat-Bold;
    cursor: pointer;
}

.messageButton{
    
    background-color: var(--main-button-color);
}


.editButton{
    color:var(--main-text-color);
    background-color: var(--main-panel-color);
    width: 120px;
}

.editButton:hover{
    background-color: rgba(0,0,0,0.5);
}



.title {
    font-size: 20px;
    font-family: Montserrat-Bold;
    opacity: 60%;
}

.egg {
    z-index: 1;
    position: absolute;
    top: 100px;
    width: 80px;
    height: 70px;
    cursor: pointer;
    background-image: url("/images/egg.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.infoArea {
    margin-bottom: 10px;
    font-family: Montserrat-Medium;
    font-size: 20px;
}
.infoArea label {
    font-family: Montserrat-SemiBold;
}
.categoriesArea {
    border-bottom: solid 1px var(--main-text-color);
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom:20px;
}
.categoriesArea a{
    margin-right:20px;
    cursor:pointer;
    opacity:50%;
}
.categoriesAreaChosen {
    opacity: 100% !important;
    padding-bottom:2px;
    border-bottom: 3px solid;
}
.categoriesArea a:hover{
    margin-right:20px;
    opacity:100%;
}
.followersArea{
    position: absolute;
    right:500px;
    top:450px;
    font-family: Montserrat-SemiBold;
}

.inventory{
    margin-top:20px;
    float:right;
    width:400px;
    height:500px;
    background-color:var(--main-panel-color);
    border-radius:20px;
}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.popup {
    overflow-y:auto;
    overflow-x: hidden;
    position: fixed;
    width: 600px;
    height: 70%;
    top: 15%;
    left: calc((100vw - 600px)/2);
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 4;
}
.popup .profilePic{
    margin-left:20px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.popup .banner{
    margin-left:40px;
    margin-top: 30px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

.popup div{
    margin-left: 20px;
    margin-top: 20px;
    font-family: Montserrat-Bold;
    font-size: 25px;
    width: 100%;
}
.popup hr{
    border:none;
    float:left;
    margin-top: 10px;
    background-color:var(--main-text-color);
    height: 1px;
    margin-left:-10px;
    width: calc(100% + 20px);
}

.closePopup{
    font-size: 25px;
    font-family: Montserrat-Bold;
    position: absolute;
    right:20px;
    top:20px;
    cursor: pointer;
}

.popup label{
    margin-left: 20px;
    width: 120px;
    font-size: 20px;
    font-family: Montserrat-SemiBold;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
}

.popup input{
    float:right;
    margin-top: 20px;
    width:395px;
    margin-right: 20px;
    height:40px;
    border-radius: 5px;
    border:solid 1px var(--main-text-color);
    font-size: 17px;
    
    font-family: Montserrat-SemiBold;
    color:var(--main-text-color);
    background-color: var(--main-bg-color);
    padding-left: 5px;
}

.popup textarea{
    float:right;
    margin-top: 20px;
    width:395px;
    margin-right: 20px;
    min-height:80px;
    border-radius: 5px;
    border:solid 1px var(--main-text-color);
    background-color: var(--main-bg-color);
    padding-left: 5px;
    resize: vertical;
    color:var(--main-text-color);
    font-size: 17px;
    
    font-family: Montserrat-SemiBold;
}
.popup button{
    float:left;
    height: 40px;
    width: 100px;
    margin-top: 30px;
    margin-left: 175px;
    font-family:Montserrat-Bold;
    background-color: var(--main-button-color);
    border-radius: 5px;
    border:solid 1px black;
    cursor: pointer;
    font-size: 15px;
}

@media only screen and (max-width: 1200px) {
    .popup{
        top:0px;
        left:0px;
        width: 100%;
        height:100%;
    }
    .realName {
        left: 270px;
    }

    .profilePicture {
        left: 20px;
    }

    .username {
        left: 270px;
    }

    .button {
        top:300px;
        right: 20px;
    }

    .editButton{
        background-color:rgba(0,0,0,0.8);
        color:white;
    }

    .popup input{
        width:calc(100% - 200px);
    }

    .popup textarea{
        width:calc(100% - 200px);
    }
}


@media only screen and (max-width: 600px) {
    
    .profilePicture {
        top: 350px;
        width: 100px;
        height: 100px;
    }

    .realName {
        left: 150px;
        font-size: 35px;
    }
    
    .verifiedIcon{
        height: 20px;
        width: 20px;
    }
    .username {
        left: 150px;
        font-size: 25px;
        
        top: 440px;
    }

    .mainContent{
        margin-top: 500px !important;
    }
}