

.searchInfoArea{
    margin-top:20px;
    font-family:Arial, Helvetica, sans-serif;
}

.searchInfo{
    color: green;
}

.competitionPreviewArea {
    margin-top: 20px;
    margin-bottom: 200px;
    min-height:500px;
}


.competitionSearchArea2 {
    height: 140px;
    width: 100%;
    margin-left: calc((100% - 1000px)/2);
}