@font-face {
    font-family: Montserrat-Bold;
    src: url('Montserrat/montserrat-bold-webfont.woff2') format('woff2'), url('Montserrat/montserrat-bold-webfont.woff') format('woff');
}

body {
    background-image: url("/images/background.jpg");
}

.title {
    font-family: Montserrat-Bold;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
}

.signinBox {
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 150px;
    margin-left: calc((100vw - 600px)/2);
    margin-bottom:100px;
    width: 600px;
    background-color: white;
    color:black;
    border-radius: 10px;
}

.signinRegisterToggle {
    text-decoration: none;
    color: #3175fa;
    margin-top:20px;
}

.signinBox input {
    width: 500px;
    margin-left: 50px;
    margin-top: 5px;
    height: 70px;
    font-size: 15px;
    background-color: #E8E8E8;
    border: none;
    margin-top: 20px;
    padding-left: 10px;
    font-family: Montserrat-Bold;
}


.signinBox input:hover {
    background-color: #D3D3D3;
}


.form__message {
    text-align: center;
    margin-top:10px;
    font-size: 20px;
    font-family: Montserrat-Bold;
}

.form__message--success {
    color: green;
}

.form__message--error {
    color: red;
}

.signinBox button {
    padding: 20px;
    width: 150px;
    font-size: 20px;
    font-family: Montserrat-Bold;
    color: white;
    background-color: #3175fa;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: calc((100% - 150px)/2);
}


.inputTitle {
    margin-left: 10%;
    margin-top: 20px;
    color: grey;
    font-family: Arial;
}
