
.competitionPreview {
    margin-top: 30px;
    float: left;
    background-color: white;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 1px grey;
    border-radius: 10px;
}

.competitionPreview:hover {
    box-shadow: 2px 2px 4px 2px grey;
}


.competitionPreviewName {
    float: left;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.competitionPreviewLocation {
    float: left;
    margin-left: 10px;
    font-size: 20px;
}

.competitionPreviewImage {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    width: 300px;
    background-size: contain;
}
